// header
.section-header-supply {
  background-image   : url(../../../../assets/hgisupply/header-supply.webp);
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: center;
  height             : 100%;
  width              : 100%;
}

// body
.section-supply {
  padding         : 2rem 0 0 0;
  background-color: #1e242b;
  background-image: radial-gradient(at 47% 33%,
      hsl(212.31, 18%, 14.000000000000002%) 0,
      transparent 59%),
    radial-gradient(at 82% 65%, hsl(206.67, 20%, 18%) 0, transparent 55%);

  .titulo-supply {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    text-align     : center;
    width          : 100%;
    margin-top     : 1em;
    font-size      : 3rem;
    font-weight    : 700;
    color          : #f6f8f9;
    line-height    : 54px;
    font-family    : 'introBlack', Verdana, Geneva, Tahoma, sans-serif;
  }

  .client-content {
    display        : flex;
    text-align     : center;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 3rem;

    .card-img {
      width: 39%;
      padding: 2rem;

      img {
        width        : 30em;
        border-radius: 5px;
      }
    }

    .card-desc {
      width: 39%;


      span {
        display        : flex;
        flex-direction : row;
        justify-content: end;
        align-items    : center;
        text-align     : end;
        color          : #da692d;
        font-size      : 1.5em;
        padding        : 0 2rem 0 0;
      }

      p {
        display        : flex;
        flex-direction : row;
        justify-content: end;
        align-items    : center;
        text-align     : end;
        color          : #f6f8f9;
        font-size      : 1.3rem;
        padding        : 2rem;
      }

    }

    .mat-stepper-horizontal {
      margin-top: 8px;
    }

    .mat-mdc-form-field {
      margin-top: 16px;
    }
  }
}


@media screen and (max-width: 997px) {
  .section-supply {

    .client-content {
      width          : 100%;
      flex-direction : column;
      display        : flex;
      justify-content: center;
      align-items    : center;
      padding        : 0;

      .card-img {
        width: 100%;
      }

      .card-desc {
        width: 100%;
      }
    }
  }


}
