<!-- header -->
<section class="section-header-supply"></section>

<section class="section-supply">
  <div class="titulo-supply">Negociações globais</div>


  <div class="client-content">
    <div class="card-img">
      <img src="/assets/hgisupply/negotiations.webp" alt="." />
    </div>

    <div class="card-desc">
      <div class="card-desc-title">
        <span>Todos os materiais</span>
        <span>negociados em um só lugar</span>
      </div>
      <p>
        Nossa plataforma integra todo ecosistema de
        compras da GI (Gestão de Instalações) ,
        através de 20 estações será possível adquirir
        uma ampla gama de materiais sendo
        conectado diretamente à grandes indústrias
        de renome nacional com valores
        extremamente competitivos.
      </p>
    </div>
  </div>

  <!-- timeline -->
  <div class="titulo-supply">TRILHA DE NEGOCIAÇÕES</div>
  <app-time-line></app-time-line>
</section>

<!-- footer -->
<section>
  <app-footer></app-footer>
</section>
