<section class="main-section">
  <div class="titulo">QUEM SOMOS</div>
  <div class="subtitulo">Especialistas em sistemas prediais</div>
  <div class="subtitulo">
    Uma vida dedicada a engenharia de sistemas prediais
  </div>

  <div class="body-content">
    <div class="card">
      <div class="header-card">
        <div class="img-card">
          <img src="/assets/imgs/hub-business.png" alt="" />
        </div>
      </div>
      <div class="body-card">
        <span class="txt">
          Somos o hub de negócios corporativos 100%
          focados nos sistemas prediais, conectamos as construtoras e
          incorporadoras as industrias criando um ecossistema moderno,
          sofisticado, ágil e disruptivo.
        </span>
      </div>
    </div>
    <div class="card">
      <div class="header-card">
        <div class="img-card">
          <img src="/assets/photo/heitor2.png" alt="" />
        </div>
        <div class="autor">Heitor Vasconcelos Gouveia</div>
        <!-- <div class="sociais">
          <img src="/assets/icons/linkedin-circle.png" alt="linkedin" />
          <img src="/assets/icons/instagram-circle.png" alt="instagram" />
          <img src="/assets/icons/facebook-circle.png" alt="facebook" />
        </div> -->
      </div>
      <div class="body-card">
        <span class="txt">Solidificou sua carreira como
          GESTOR NACIONAL da MRV por 10 anos,
          implementando inovações e industrializando sistemas prediais.
        </span>
        <span class="txt">
          Em seguida, ganhou destaque como diretor e parceiro do Grupo Ambar,
          focando em industrialização.
        </span>
        <span class="txt">
          Em 2023, fundou o Grupo ConstruAPP, uma empresa inovadora que está
          transformando o mercado de SISTEMAS PREDIAIS de forma
          sólida e tecnológica em todo o país.
        </span>
      </div>
    </div>
    <div class="card">
      <div class="header-card">
        <div class="img-card">
          <img src="/assets/imgs/dna.png" alt="" />
        </div>
      </div>
      <div class="body-card">
        <span class="txt">
          Com DNA DE INOVAÇÃO lança seu novo empreendimento com foco 100% no
          SUPRIMENTOS dos SISTEMAS PREDIAIS, assumindo uma posição
          de um hub de negócios corporativos, aliando técnica, net work,
          criando conectividade gerando uma jornada precisa, eficiente e
          revolucionária.
        </span>
      </div>
    </div>

  </div>
</section>

<section class="banner-about">
  <div class="row-banner">
    <div class="col-banner1"></div>
    <div class="col-banner2">
      <div class="title-col-banner-2">
        NOSSO
      </div>
      <div class="txt-objeto">OBJETIVO</div>
      <div class="desc-objetivo">
        Auxiliar construtoras e incorporadoras na implantação integrada dos
        processos de Gestão de modernizar a operação dos sistemas prediais
        procedimentos de aprovações de projetos junto as concessionárias,
        parâmetros de implantação da construtiva, confecção de Procedimentos de
        Execução de Serviços (PES), aplicação dos testes.
      </div>
    </div>
  </div>
</section>

<section class="call-to-action-about bg-1-about overly">
  <div class="space-one overly">
    <div class="custos">
      <span class="banner">Gestão de Instalações</span>
      <span class="banner-destaque">
        <span class="destaque">+ 100 cidades</span></span>
      <span class="banner">Participação efetiva da construções habitacionais</span>
      <span class="banner-destaque">
        <span class="destaque">+ 500.000 unidades</span>
      </span>
    </div>
  </div>
</section>
