<section class="main-section">

  <div class="titulo">QUEM SOMOS</div>
  <div class="subtitulo">Especialistas em sistemas prediais</div>
  <div class="subtitulo">
    Uma vida dedicada a engenharia de sistemas prediais
  </div>

  <div class="body-content">
    <div class="card">
      <div class="header-card">
        <div class="img-card">
          <img src="/assets/imgs/hub-business.png" alt="" />
        </div>
      </div>
      <div class="body-card">
        <span class="txt">
          Somos o
          <span class="destaque">hub de negócios corporativos</span> 100%
          focados nos sistemas prediais, conectamos as construtoras e
          incorporadoras as industrias criando um ecossistema moderno,
          sofisticado, ágil e disruptivo.
        </span>
      </div>
    </div>
    <div class="card">
      <div class="header-card">
        <div class="img-card">
          <img src="/assets/photo/heitor2.png" alt="" />
        </div>
        <div class="autor">Heitor Vasconcelos Gouveia</div>
        <!-- <div class="sociais">
          <img src="/assets/icons/linkedin-circle.png" alt="linkedin" />
          <img src="/assets/icons/instagram-circle.png" alt="instagram" />
          <img src="/assets/icons/facebook-circle.png" alt="facebook" />
        </div> -->
      </div>
      <div class="body-card">
        <span class="txt">Solidificou sua carreira como
          <span class="destaque">gestor nacional</span> da MRV por 10 anos,
          implementando inovações e industrializando sistemas prediais.
        </span>
        <span class="txt">
          Em seguida, ganhou destaque como diretor e parceiro do Grupo Ambar,
          focando em industrialização.
        </span>
        <span class="txt">
          Em 2023, fundou o Grupo ConstruAPP, uma empresa inovadora que está
          transformando o
          <span class="destaque">mercado de sistemas prediais</span> de forma
          sólida e tecnológica em todo o país.
        </span>
      </div>
    </div>
    <div class="card">
      <div class="header-card">
        <div class="img-card">
          <img src="/assets/imgs/dna.png" alt="" />
        </div>
      </div>
      <div class="body-card">
        <span class="txt">
          Com <span class="destaque">DNA de inovação</span> lança seu novo
          empreendimento com foco 100% no
          <span class="destaque">SUPRIMENTOS</span> dos
          <span class="destaque">SISTEMAS PREDIAIS</span>, assumindo uma posição
          de um <span class="destaque">hub de negócios corporativos</span>,
          aliando técnica, net work, criando conectividade gerando uma jornada
          precisa, eficiente e revolucionária.
        </span>
      </div>
    </div>
  </div>
</section>

<section class="call-to-action-about bg-1-about overly">
  <div class="space-one overly">
    <div class="custos">
      <span class="banner">Gestão de Instalações</span>
      <span class="banner-destaque">
        <span class="destaque">+ 100 cidades</span></span>
      <span class="banner">Participação efetiva da construções habitacionais</span>
      <span class="banner-destaque">
        <span class="destaque">+ 500.000 unidades</span>
      </span>
    </div>
  </div>
</section>
