.main-section {
  padding         : 2rem 1rem 2rem 1rem;
  background-color: #1e242b;
  background-image: radial-gradient(at 47% 33%,
      hsl(212.31, 18%, 14.000000000000002%) 0,
      transparent 59%),
    radial-gradient(at 82% 65%, hsl(206.67, 20%, 18%) 0, transparent 55%);
  height: auto;

  .titulo {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    text-align     : center;
    width          : 100%;
    margin-top     : 1em;
    font-size      : 3rem;
    font-weight    : 700;
    color          : #f6f8f9;
    font-family    : 'introBlack', Verdana, Geneva, Tahoma, sans-serif;
  }

  .subtitulo {
    text-align : center;
    width      : 100%;
    font-size  : 1.2rem;
    color      : #f6f8f9;
    font-family: 'Space Grotesk', Verdana, Geneva, Tahoma, sans-serif;
  }

  .body-content {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    gap            : 1rem;
    padding        : 2rem;
    margin-top     : 1em;

    .card {
      font-size              : 1rem;
      color                  : #f6f8f9;
      background             : linear-gradient(179deg, #d7e3ff 5%, rgba(236, 155, 5, 0), rgba(58, 75, 224, 0.12));
      padding                : 1.5rem;
      border-radius          : 0.5rem;
      border                 : 1px solid #d7e3ff;
      -webkit-backdrop-filter: blur(46px) contrast(0.5);
      backdrop-filter        : blur(46px) contrast(0.5);

      .header-card {
        background: transparent;
        padding   : 1.25rem 1.5rem;
        text-align: center;
        height    : 210px;

        .autor {
          font-family: sans-serif;
          font-size  : 13px;
          color      : #f6f8f9;
          font-family: "Space Grotesk", Verdana, Geneva, Tahoma, sans-serif;
        }

        .sociais {
          img {
            padding: 5px;
            width  : 25px;
          }
        }

        .img-card {
          img {
            border-radius     : 50% !important;
            -webkit-box-shadow: 6px 5px 2em 2px #000000;
            box-shadow        : 6px 5px 2em 2px #000000;
          }
        }
      }

      .body-card {
        display        : flex;
        justify-content: center;
        flex-wrap      : wrap;

        .txt {
          margin-bottom: 10px;
          text-align   : center;
          font-family  : "Space Grotesk", Verdana, Geneva, Tahoma, sans-serif;
        }

        .destaque {
          color       : #da692d;
          margin-left : 2px;
          margin-right: 2px;
        }
      }
    }
  }
}


/* section 2 */
.banner-about {
  .row-banner {
    display       : flex;
    flex-direction: row;
    width         : 100%;

    .col-banner1 {
      background-image : url(../../../assets/imgs/banner-about0.webp);
      background-repeat: no-repeat;
      background-size  : cover;
      object-fit       : cover;
      inset            : 0;
      z-index          : -1;
      width            : 60%;
      height           : 450px;
      display          : flex;
      flex-direction   : column;
    }

    .col-banner2 {
      background-color: #1d1d1d;
      width           : 40%;
      height          : 450px;
      display         : flex;
      flex-direction  : column;
      justify-content : center;
      text-align      : end;
      color           : #ffffff;
      font-size       : 1.2rem;
      padding         : 0 2em 0 0;
      line-height     : 1.5em;

      .title-col-banner-2 {
        font-size  : 2rem;
        font-family: "introBlack", Verdana, Geneva, Tahoma, sans-serif;
      }

      .txt-objeto {
        font-size  : 2.5rem;
        color      : #da692d;
        font-family: "introBlack", Verdana, Geneva, Tahoma, sans-serif;
      }

      .desc-objetivo {
        display       : flex;
        flex-direction: row;
        margin-top    : 2em;
      }
    }
  }
}

/* section 3 */
.call-to-action-about {
  background-attachment: fixed;
}

.bg-1-about {
  background-image   : url('../../../assets/imgs/slide1.webp');
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: top;
  object-fit         : cover;
  inset              : 0;
  z-index            : -1;
}

.bg-1-about::before {
  content        : '';
  width          : 100vw;
  height         : 100%;
  align-items    : center;
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  justify-content: center;
  position       : relative;
}

.space-one {
  height         : 22em;
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  align-items    : center;

  .custos {
    padding         : 1rem;
    width           : 50%;
    height          : auto;
    margin          : 2rem;
    text-align      : left;
    font-family     : 'introBlack', Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.2392156863);
    border-radius   : 5px;
    border          : 1px solid #da692d;

    .banner {
      display      : flex;
      font-size    : 1.2rem;
      gap          : 14px;
      margin-bottom: 10px;
    }

    .banner-destaque {
      display      : flex;
      font-size    : 1.8rem;
      gap          : 14px;
      margin-bottom: 10px;

      .destaque {
        color: #da692d;
      }
    }
  }
}

@media (max-width: 997px) {
  .main-section {
    .body-content {
      flex-direction: column;

      .col-desc {
        padding: 0;
      }

      .card {
        width: 100%;
      }
    }
  }

  .banner-about {
    background-image   : url(../../../assets/imgs/banner-about0.1.webp);
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: bottom;

    .row-banner {
      display: block;

      .col-banner1 {
        flex-direction: row;
        width         : 100%;
      }

      .col-banner2 {
        width          : fit-content;
        text-align     : end;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        padding        : 2em 2em 2em 2em;

        .title-col-banner-2 {
          margin-bottom: 0;
        }

        .desc-objetivo {
          display       : flex;
          flex-direction: row;
        }
      }
    }
  }

  .space-one {
    .custos {
      width: 77%;
    }
  }

}
