.main-section {
  padding         : 2rem 1rem 1rem 1rem;
  background-color: #1e242b;
  background-image: radial-gradient(at 47% 33%,
      hsl(212.31, 18%, 14.000000000000002%) 0,
      transparent 59%),
    radial-gradient(at 82% 65%, hsl(206.67, 20%, 18%) 0, transparent 55%);
  height: auto;


  .titulo {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    text-align     : center;
    width          : 100%;
    font-size      : 3rem;
    font-weight    : 700;
    color          : #f6f8f9;
    font-family    : 'introBlack', Verdana, Geneva, Tahoma, sans-serif;
  }

  .subtitulo {
    text-align : center;
    width      : 100%;
    font-size  : 1.2rem;
    color      : #f6f8f9;
    font-family: 'Space Grotesk', Verdana, Geneva, Tahoma, sans-serif;
  }

  .body-content {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    gap            : 1rem;
    padding        : 1rem;

    .card {
      // background-color: #1e242b;
      // border-radius   : 5px;
      // border          : 1px solid #384654;
      // color           : #f6f8f9;
      // padding         : 1rem 1rem 1rem 1rem;
      // width           : 30%;
      // height          : 30rem;
      // font-family     : "Space Grotesk", Verdana, Geneva, Tahoma, sans-serif;

      font-size    : 1rem;
      color        : #f6f8f9;
      background   : linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%);
      padding      : 1.5rem;
      border-radius: 0.5rem;

      .header-card {
        background: transparent;
        padding   : 1.25rem 1.5rem;
        text-align: center;
        height    : 210px;

        .autor {
          font-family: sans-serif;
          font-size  : 13px;
          color      : #f6f8f9;
          font-family: "Space Grotesk", Verdana, Geneva, Tahoma, sans-serif;
        }

        .sociais {
          img {
            padding: 5px;
            width  : 25px;
          }
        }

        .img-card {
          img {
            border-radius     : 50% !important;
            -webkit-box-shadow: 6px 5px 2em 2px #000000;
            box-shadow        : 6px 5px 2em 2px #000000;
          }
        }
      }

      .body-card {
        display        : flex;
        justify-content: center;
        flex-wrap      : wrap;

        .txt {
          margin-bottom: 10px;
          text-align   : center;
          font-family  : "Space Grotesk", Verdana, Geneva, Tahoma, sans-serif;
        }

        .destaque {
          color       : #da692d;
          margin-left : 2px;
          margin-right: 2px;
        }
      }
    }

  }


  @media (max-width: 800px) {
    .body-content {
      flex-direction: column;

      .col-desc {
        padding: 0;
      }

      .card {
        width: 100%;
      }
    }
  }
}

/* 2 section */

.call-to-action-about {
  background-attachment: fixed;
}

.call-to-action-about .btn-main {
  margin       : 20px 20px 20px 20px;
  border-radius: 15px;
}

.bg-1-about::before {
  content        : '';
  width          : 100vw;
  height         : 100%;
  align-items    : center;
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  justify-content: center;
  position       : relative;
}

.bg-1-about {
  background-image   : url('../../../assets/imgs/slide1.webp');
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: top;
  object-fit         : cover;
  inset              : 0;
  z-index            : -1;
}

.space-one {
  height         : 19em;
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  align-items    : center;

  .custos {
    padding         : 1rem;
    width           : 60%;
    height          : auto;
    margin          : 2rem;
    text-align      : left;
    font-family     : 'introBlack', Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.2392156863);
    border-radius   : 5px;
    border          : 1px solid #da692d;

    .banner {
      display      : flex;
      font-size    : 1.2rem;
      gap          : 14px;
      margin-bottom: 10px;
    }

    .banner-destaque {
      display      : flex;
      font-size    : 1.8rem;
      gap          : 14px;
      margin-bottom: 10px;

      .destaque {
        color: #da692d;
      }
    }
  }

}

@media (max-width: 800px) {
  .space-one {
    .custos {
      width: 100%;
    }
  }
}

.banner-about {
  height             : 500px;
  background-image   : url(../../../assets/imgs/banner-about1.webp);
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: top;
  object-fit         : cover;
  inset              : 0;
  z-index            : -1;

  .row-banner {
    display       : flex;
    flex-direction: row;
    width         : 100%;

    .col-banner1 {
      width         : 60%;
      height        : 450px;
      display       : flex;
      flex-direction: column;
    }

    .col-banner2 {
      width          : 40%;
      height         : 450px;
      display        : flex;
      flex-direction : column;
      justify-content: center;
      text-align     : end;
      color          : #ffffff;
      font-size      : 1.2rem;
      padding        : 0 2em 0 0;
      line-height    : 1.5em;

      .title-col-banner-2 {
        font-size    : 2rem;
        margin-bottom: 1.3em;
        font-family  : "introBlack", Verdana, Geneva, Tahoma, sans-serif;
      }

      .txt-objeto {
        font-size: 2.5rem;
      }
    }


  }
}
