<!-- header -->
<section class="section-header-consultoria">
  <div class="logo-consultoria">
    <img src="/assets/logo/HGIconsultoria.webp" alt="">
  </div>
</section>

<section class="section-consultoria">
  <div class="titulo">Fase de Implementação</div>

  <div class="row">
    <div class="column">
      <img src="/assets/hgiconsultoria/strategy.webp" alt="Designed by Freepik">
    </div>
    <div class="column1">
      <p>Nossos processos foram implantados e validados em larga escala em todo territorio nacional,
        levando em consideração as divergências culturais, normas e processos regionais.
      </p>
      <p>
        Os resultados foram sólidos e assertivos, proporcionando uma virada de chave de grande magnitude
        financiera e operacional. Impactando de forma transformadora no NPS de inúmeras obras.
      </p>
    </div>
  </div>

  <div class="row-fase">
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/fluent-mdl2--release-definition.png" alt="" width="60" />
        <span>FASE 01</span>
        <span class="description">Definição de Padronização</span>
        <a href="defPadronizacao"><img src="/assets/icons/down-arrow.png" alt="" width="40" /></a>
      </div>
    </div>
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/logos--database-labs.png" alt="" width="60" />
        <span>Fase 02</span>
        <span class="description">Composição das EAPs + Banco de Dados Saneado</span>
        <img src="/assets/icons/down-arrow.png" alt="" width="40" />
      </div>
    </div>
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/carbon--scis-transparent-supply.png" alt="" width="60" />
        <span>Fase 03</span>
        <span class="description">Produtização junto ao Suprimentos + Criação de LOFs</span>
        <a href=""><img src="/assets/icons/down-arrow.png" alt="" width="40" /></a>
      </div>
    </div>
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/fluent-mdl2--release-definition.png" alt="" width="60" />
        <span>Fase 04</span>
        <span class="description">Implantação da Gestão de Projetos + Concessionárias</span>
        <a href=""><img src="/assets/icons/down-arrow.png" alt="" width="40" /></a>
      </div>
    </div>
  </div>

  <div class="row-fase">
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/mdi--manufacturing.png" alt="" width="60" />
        <span>Fase 05</span>
        <span class="description">Implantação da Industrialização <br> Kits Elétricos <br> Kits Hidráulicos</span>
        <a href=""><img src="/assets/icons/down-arrow.png" alt="" width="40" /></a>
      </div>
    </div>
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/fluent-mdl2--release-definition.png" alt="" width="60" />
        <span>Fase 06</span>
        <span class="description">Compatibilização dos PES + Qualidade FVS</span>
        <a href=""><img src="/assets/icons/down-arrow.png" alt="" width="40" /></a>
      </div>
    </div>
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/fluent-mdl2--test-explore-solid.png" alt="" width="60" />
        <span>Fase 07</span>
        <span class="description">Implantação do Programa de Testes e Retestes</span>
        <a href=""><img src="/assets/icons/down-arrow.png" alt="" width="40" /></a>
      </div>
    </div>
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/healthicons--i-training-class.png" alt="" width="60" />
        <span>Fase 08</span>
        <span class="description">Qualificação da Mão de Obra - UNICTE</span>
        <img src="/assets/icons/down-arrow.png" alt="" width="40" />
      </div>
    </div>
  </div>

  <div class="details-fase">
    <mat-tab-group>
      <mat-tab label="FASE 01" id="defPadronizacao">
        <div class="step">
          <div class="titulo-fase">Definição da padronização</div>
          <div class="subtitulo-fase">FASE 01</div>
          <div class="description">
            <span>Template padronizado de elétrica e hidrossanitário predial, com famílias e códigos de peças em
              conformidade com o banco de dados que será fornecido ao departamento de orçamentos e suprimentos.</span>
            <span>Padronização da distribuição predial elétrica e hidrossantário de todos os ambientes, levando em
              consideração todas as arquiteturas disponibilizadas pela construtora.</span>
            <span>Caderno de padronização de itens a serem empregados no projeto.
              Ex: Tipo de caixas, formato, quantidade de itens, locação, etc...</span>
            <span>Todos os itens tem o objetivo de padronizar as entregas e os recebíveis, independente de qual
              escritório for concebido o projeto.</span>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="FASE 02">
        <div class="step">
          <div class="titulo-fase">Composição das EAPs + Banco de dados saneado</div>
          <div class="subtitulo-fase">FASE 02</div>
          <div class="description">
            <span>Implantação da cartilha de EAPs, por famílias de INFRA e SUPRA, configurados por disciplina dos
              sistemas prediais.</span>
            <span>Fornecimento do banco de dados saneado com nomenclaturas dos insumos de instalações, com códigos,
              descrição curta, descrição longa, unidade de medida e NCM.</span>
            <span>Data base consolidado por disciplina.</span>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="FASE 03">
        <div class="step">
          <div class="titulo-fase">Produtização junto ao Suprimentos + Criação de Lofs</div>
          <div class="subtitulo-fase">FASE 03</div>
          <div class="description">
            <span>Definição das melhores opções de produtos de acordo com a metodologia construtiva.</span>
            <span>Integração com 20 estações da HGI SUPPLY, conectando com toda cadeia de fornecedores por disciplina
              dos sistemas prediais, sendo as maiores industrias do Brasil.</span>
            <span>Implantação de negociações em LOF (Lista Oficial de Fornecedores), negociações corporativas
              globais.</span>
            <span>Produtização das compras com integração entre (Projetos + orçamentos + equipe de campo +
              suprimentos)</span>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="FASE 04">
        <div class="step">
          <div class="titulo-fase">Implantação da gestão de projetos + Concessionárias</div>
          <div class="subtitulo-fase">FASE 04</div>
          <div class="description">
            <span>Fornecimento do memorial de aprovação de projetos junto as concessionárias de acordo com o estado de
              atuação da construtora.</span>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="FASE 05" #defPadronizacao>
        <div class="step">
          <div class="titulo-fase">Implantação da industrialização</div>
          <div class="titulo-fase color-extra">kits elétricos | kits hidráulicos</div>
          <div class="subtitulo-fase">FASE 05</div>
          <div class="description">
            <span>Implantação da industrialização de kits elétricos de acordo com a metodologia construtiva.</span>
            <span>Definição de insumos e fornecedores.</span>
            <span>Capacitação técnicas para os operários através do UNICTE.</span>
            <span>Todos os itens tem o objetivo de padronizar as entregas e os recebíveis, independente de qual
              escritório for concebido o projeto.</span>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="FASE 06">
        <div class="step">
          <div class="titulo-fase">Compatibilização dos PES + Qualidade FVS</div>
          <div class="subtitulo-fase">FASE 06</div>
          <div class="description">
            <span>Fornecimento dos "Procedimentos de execução de serviços", de todas as disciplinas dos sistemas
              prediais.</span>
            <span>Fornecimento de "Fichas de verificação de serviços" (FVS), compatibilizados com os PES.</span>
            <span>Documentação altamente ilustrativa e didática, com foco no passo a passo executivo de todas as
              atividades. </span>
            <span>Informações integradas com os projetos, normas e boas práticas aplicadas em centenas de obras. </span>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="FASE 07">
        <div class="step">
          <div class="titulo-fase">Implantação do programa de testes e retestes </div>
          <div class="subtitulo-fase">FASE 07</div>
          <div class="description">
            <span>Implantação do programa de testes e retestes, com foco na qualidade da entrega final dos
              empreendimentos.</span>
            <span>Será disponibilizado o manual de testes e retestes. Ensinando o como e quando realizar cada
              teste.</span>
            <span>20 testes | 6 retestes</span>
            <span>Treinamento e capacitação do time de campo e equipe da qualidade na aplicação do programa.</span>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="FASE 08">
        <div class="step">
          <div class="titulo-fase">Qualificação da mão de obra UNICTE</div>
          <div class="subtitulo-fase">FASE 08</div>
          <div class="description">
            <span>30 acessos a maior academia de ensino dos sistemas prediais do Brasil.</span>
            <span>Metodologia inovadora de ensino dos sistemas prediais. </span>
            <span>6 cursos disponíveis</span>
            <span>Capacitação da liderança das obras</span>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</section>

<!-- footer -->
<section>
  <app-footer></app-footer>
</section>
