<!-- header -->
<section class="section-header-consultoria">
  <div class="logo-supply">
    <!-- <span class="logo-grupo">GRUPO</span><span class="logo-hgi">HGI</span> -->
  </div>
  <div class="slogan-supply">
    <!-- <span class="descricao">Sistemas integrados</span> -->
  </div>
</section>

<section class="section-consultoria">
  <div class="titulo">Fase de Implementação</div>
  <div class="row">
    <div class="column">
      <img src="/assets/hgiconsultoria/strategy.webp" alt="">
    </div>
    <div class="column1">
      <p>Nossos processos foram implantados e validados em larga escala em todo territorio nacional,
        levando em consideração as divergências culturais, normas e processos regionais.
      </p>
      <p>
        Os resultados foram sólidos e assertivos, proporcionando uma virada de chave de grande magnitude
        financiera e operacional. Impactando de forma transformadora no NPS de inúmeras obras.
      </p>
    </div>
  </div>

  <div class="row-fase">
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/fluent-mdl2--release-definition.png" alt="" />
        <span>FASE 01</span>
        <span class="description">Definição de Padronização</span>
      </div>
    </div>
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/logos--database-labs.png" alt="" />
        <span>Fase 02</span>
        <span class="description">Composição das EAPs + Banco de Dados Saneado</span>
      </div>
    </div>
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/carbon--scis-transparent-supply.png" alt="" />
        <span>Fase 03</span>
        <span class="description">Produtização junto ao Suprimentos + Criação de LOFs</span>
      </div>
    </div>
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/fluent-mdl2--release-definition.png" alt="" />
        <span>Fase 04</span>
        <span class="description">Implantação da Gestão de Projetos + Concessionárias</span>
      </div>
    </div>
  </div>

  <div class="row-fase">
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/mdi--manufacturing.png" alt="" />
        <span>Fase 05</span>
        <span class="description">Implantação da Industrialização <br> Kits Elétricos <br> Kits Hidráulicos</span>
      </div>
    </div>
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/fluent-mdl2--release-definition.png" alt="" />
        <span>Fase 06</span>
        <span class="description">Compatibilização dos PES + Qualidade FVS</span>
      </div>
    </div>
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/fluent-mdl2--test-explore-solid.png" alt="" />
        <span>Fase 07</span>
        <span class="description">Implantação do Programa de Testes e Retestes</span>
      </div>
    </div>
    <div class="column-fase">
      <div class="body-card-fase">
        <img src="/assets/icons/healthicons--i-training-class.png" alt="" />
        <span>Fase 08</span>
        <span class="description">Qualificação da Mão de Obra - UNICTE</span>
      </div>
    </div>
  </div>

  <div class="details-fase">
    <mat-tab-group>
      <mat-tab label="FASE 01">
        <div style="color: azure;">dadasd <br>
          <img src="/assets/icons/fluent-mdl2--release-definition.png" alt="" />
        </div>Content 1
      </mat-tab>
      <mat-tab label="FASE 02">
        <div style="color: azure;">dadasd</div>Content 2
      </mat-tab>
      <mat-tab label="FASE 03">
        <div style="color: azure;">dadasd <br>
          <img src="/assets/icons/fluent-mdl2--release-definition.png" alt="" />
        </div>Content 1
      </mat-tab>
      <mat-tab label="FASE 04">
        <div style="color: azure;">dadasd</div>Content 4
      </mat-tab>
      <mat-tab label="FASE 05">
        <div style="color: azure;">dadasd <br>
          <img src="/assets/icons/fluent-mdl2--release-definition.png" alt="" />
        </div>Content 1
      </mat-tab>
      <mat-tab label="FASE 06">
        <div style="color: azure;">dadasd</div>Content 6
      </mat-tab>
      <mat-tab label="FASE 07">
        <div style="color: azure;">dadasd <br>
          <img src="/assets/icons/fluent-mdl2--release-definition.png" alt="" />
        </div>Content 1
      </mat-tab>
      <mat-tab label="FASE 08">
        <div style="color: azure;">dadasd</div>Content 6
      </mat-tab>
    </mat-tab-group>
  </div>

</section>

<!-- footer -->
<section>
  <app-footer></app-footer>
</section>
