// header
.section-header-consultoria {
  background-image   : url(../../../../assets/hgiconsultoria/header-consultoria.webp);
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: top;
  height             : 80%;
  width              : 100%;

  .logo {
    display        : flex;
    flex-direction : row;
    width          : 100%;
    justify-content: center;
    align-items    : center;
  }

  .slogan {
    display        : flex;
    flex-direction : row;
    width          : 100%;
    justify-content: center;
    align-items    : center;
  }
}

// body
.section-consultoria {
  padding         : 2rem 1rem 1rem 1rem;
  background-color: #1e242b;
  background-image: radial-gradient(at 47% 33%,
      hsl(212.31, 18%, 14.000000000000002%) 0,
      transparent 59%),
    radial-gradient(at 82% 65%, hsl(206.67, 20%, 18%) 0, transparent 55%);

  .titulo {
    text-align : center;
    width      : 100%;
    font-size  : 2.9rem;
    font-weight: 700;
    color      : #f6f8f9;
    line-height: 52px;
    font-family: "introBlack", Verdana, Geneva, Tahoma, sans-serif;
    padding    : 1em 0 1em 0;
  }

  * {
    box-sizing: border-box;
  }

  .row {
    padding: 2rem;
  }

  .column {
    float     : left;
    width     : 50%;
    padding   : 10px;
    height    : 300px;
    text-align: center;

    img {
      width: 20em;
    }
  }

  .column1 {
    float          : left;
    width          : 50%;
    padding        : 10px;
    height         : 300px;
    display        : flex;
    text-align     : center;
    flex-direction : column;
    justify-content: center;

    p {
      color    : #f6f8f9;
      font-size: 1.3rem;
    }

  }

  .row:after {
    content: "";
    display: table;
    clear  : both;
  }

  .row-fase {
    display        : flex;
    text-align     : center;
    flex-direction : row;
    justify-content: center;
    gap            : 20px;
    padding-top    : 20px;

    .column-fase {
      width          : fit-content;
      position       : relative;
      display        : flex;
      align-items    : center;
      justify-content: center;

      .body-card-fase {
        position        : relative;
        width           : 280px;
        height          : 280px;
        display         : flex;
        flex-direction  : column;
        align-items     : center;
        justify-content : space-evenly;
        padding         : 20px 10px;
        border-radius   : 10px;
        backdrop-filter : blur(30px);
        background-color: rgba(65, 65, 65, 0.308);
        border          : 1px solid rgba(255, 255, 255, 0.089);
        cursor          : pointer;
        font-family     : "Space Grotesk", Verdana, Geneva, Tahoma, sans-serif;

        img {
          width: 60px;
        }

        span {
          color      : #f6f8f9;
          font-weight: 700;
          font-size  : 1.5em;
        }

        .description {
          color      : #f6f8f9;
          font-weight: 500;
          font-size  : 1em;
        }

      }

    }

    .column-fase::before {
      width           : fit-content;
      height          : 100px;
      content         : "";
      position        : absolute;
      background-color: #da692d;
      z-index         : -1;
      border-radius   : 50%;
      left            : 100px;
      top             : 50px;
      transition      : all 1s;
    }

    .column-fase:hover::before {
      transform: translate(-50px, 50px);
    }

  }

  .row-fase:after {
    content: "";
    display: table;
    clear  : both;
  }

  .details-fase {
    padding: 2rem;
  }

  .mat-mdc-tab-group,
  .mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color      : #da692d;
    --mat-tab-header-disabled-ripple-color          : #ffffff;
    --mat-tab-header-pagination-icon-color          : #fafafa;
    --mat-tab-header-inactive-label-text-color      : #ffffff;
    --mat-tab-header-active-label-text-color        : #da692d;
    --mat-tab-header-active-ripple-color            : #da692d;
    --mat-tab-header-inactive-ripple-color          : #da692d;
    --mat-tab-header-inactive-focus-label-text-color: #ffffff;
    --mat-tab-header-inactive-hover-label-text-color: #ffffff;
    --mat-tab-header-active-focus-label-text-color  : #da692d;
    --mat-tab-header-active-hover-label-text-color  : #da692d;
    --mat-tab-header-active-focus-indicator-color   : #da692d;
    --mat-tab-header-active-hover-indicator-color   : #da692d;
  }



  @media screen and (max-width: 997px) {
    .column {
      width: 100%;
    }

    .column1 {
      width  : 100%;
      padding: 2rem 1rem 1rem 1rem;
    }

    .column-fase {
      width: 100%;
    }

    .row-fase {
      display       : flex;
      flex-direction: column;

      .column-fase {
        .body-card-fase {
          width : 100%;
          height: 280px;

        }
      }
    }
  }
}
