<!-- header -->
<section class="section-header-consultoria">
  <div class="logo-supply">
    <!-- <span class="logo-grupo">GRUPO</span><span class="logo-hgi">HGI</span> -->
  </div>
  <div class="slogan-supply">
    <!-- <span class="descricao">Sistemas integrados</span> -->
  </div>
</section>

<section class="section-consultoria">
  <div class="titulo">Fase de Implementação</div>
  <div class="row">
    <div class="column">
      <img src="/assets/hgiconsultoria/strategy.webp" alt="">
    </div>
    <div class="column1">
      <p>Nossos processos foram implantados e validados em larga escala em todo territorio nacional,
        levando em consideração as divergências culturais, normas e processos regionais.
      </p>
      <p>
        Os resultados foram sólidos e assertivos, proporcionando uma virada de chave de grande magnitude
        financiera e operacional. Impactando de forma transformadora no NPS de inúmeras obras.
      </p>
    </div>
  </div>

  <div class="row-fase">
    <div class="column-fase">
      1
    </div>
    <div class="column-fase">
      2
    </div>
    <div class="column-fase">
      3
    </div>
    <div class="column-fase">
      4
    </div>
  </div>
  <div class="row-fase">
    <div class="column-fase">
      1
    </div>
    <div class="column-fase">
      2
    </div>
    <div class="column-fase">
      3
    </div>
    <div class="column-fase">
      4
    </div>
  </div>

  <div>
    <mat-tab-group>
      <mat-tab label="First"> Content 1 </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>

</section>

<!-- footer -->
<section>
  <app-footer></app-footer>
</section>
