.main-section-contact {
  padding         : 2rem 1rem 1rem 1rem;
  background-color: #000000;
  color           : #ffffff;

  .titulo-contact {
    text-align : center;
    width      : 100%;
    font-size  : 3rem;
    font-weight: 700;
    line-height: 52px;
    color      : #f6f8f9;
    font-family: "introBlack", Verdana, Geneva, Tahoma, sans-serif;
    padding    : 2em 0 2em 0;
  }

  .contato {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    gap            : 1rem;
    padding        : 1rem 1rem 1rem 1rem;

    .details-contato {
      width  : 50%;
      padding: 1rem 1rem 1rem 1rem;
      font-size: 1.3rem;

      .card-contato {
        display: flex;
        height : 70px;
        width  : 270px;
      }

      .card-contato img {
        position   : absolute;
        display    : flex;
        width      : 60%;
        height     : 100%;
        font-size  : 24px;
        font-weight: 700;
        opacity    : 1;
        transition : opacity 0.25s;
        z-index    : 2;
        cursor     : pointer;
      }

      .card-contato .social-link1,
      .card-contato .social-link2,
      .card-contato .social-link3,
      .card-contato .social-link4 {
        position       : relative;
        display        : flex;
        align-items    : center;
        justify-content: center;
        width          : 25%;
        color          : whitesmoke;
        font-size      : 24px;
        text-decoration: none;
        transition     : 0.25s;
        border-radius  : 50px;
      }

      .card-contato img {
        transform: scale(1);
      }

      .card-contato .social-link1:hover {
        background: #f09433;
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
        animation : bounce_613 0.4s linear;
      }

      .card-contato .social-link2:hover {
        background-color: #0a66c2;
        animation       : bounce_613 0.4s linear;
      }

      .card-contato .social-link3:hover {
        background-color: #ff0000;
        animation       : bounce_613 0.4s linear;
      }

      .card-contato .social-link4:hover {
        background-color: #12a50b;
        animation       : bounce_613 0.4s linear;
      }

      @keyframes bounce_613 {
        40% {
          transform: scale(1.4);
        }

        60% {
          transform: scale(0.8);
        }

        80% {
          transform: scale(1.2);
        }

        100% {
          transform: scale(1);
        }
      }
    }

    .form-contato {
      width: 50%;

      .container-contact {
        margin-left  : 8px;
        margin-bottom: 15px;

      }
    }
  }

}

@media (max-width: 800px) {
  .main-section-contact {

    .contato {
      display        : flex;
      flex-direction : column;
      justify-content: center;
      align-items    : center;
      gap            : 1rem;
      padding        : 1rem 1rem 1rem 1rem;

      .details-contato {
        width  : 100%;
        padding: 0rem 0rem 0rem 0rem;

      }

      .form-contato {
        width: 100%;
      }
    }
  }
}

// gifs
.mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: 0.75;
  display                                  : inline-flex;
  flex-direction                           : column;
  min-width                                : 0;
  text-align                               : left;
  width                                    : 95%;
  -moz-osx-font-smoothing                  : grayscale;
  -webkit-font-smoothing                   : antialiased;
  font-family                              : Roboto, sans-serif;
  line-height                              : 24px;
  font-size                                : 16px;
  letter-spacing                           : 0.03125em;
  font-weight                              : 400;
}

.mdc-text-field--outlined .mdc-floating-label,
.mdc-text-field--outlined .mdc-floating-label--float-above,
.mdc-text-field--outlined .mdc-text-field__input {
  color: #edf0f6 !important;
}

html {
  --mdc-filled-text-field-focus-label-text-color        : #ffffff !important;
  --mdc-filled-text-field-label-text-color              : #ffffff !important;
  --mdc-filled-text-field-hover-label-text-color        : #ffffff !important;
  --mdc-filled-text-field-disabled-label-text-color     : #ffffff !important;
  --mdc-outlined-text-field-focus-label-text-color      : #ffffff !important;
  --mdc-outlined-text-field-label-text-color            : #ffffff !important;
  --mdc-outlined-text-field-hover-label-text-color      : #ffffff !important;
  --mdc-outlined-text-field-disabled-label-text-color   : #ffffff !important;
  --mdc-filled-text-field-error-hover-label-text-color  : #36f47f !important;
  --mdc-filled-text-field-error-focus-label-text-color  : #36f47f !important;
  --mdc-filled-text-field-error-label-text-color        : #36f47f !important;
  --mdc-outlined-text-field-error-focus-label-text-color: #da692d !important;
  --mdc-outlined-text-field-error-label-text-color      : #da692d !important;
  --mdc-outlined-text-field-error-hover-label-text-color: #e29666 !important;


  --mdc-filled-text-field-caret-color                       : #ffffff !important;
  --mdc-filled-text-field-focus-active-indicator-color      : #ffffff !important;
  --mdc-filled-text-field-container-color                   : #ffffff !important;
  --mdc-filled-text-field-disabled-container-color          : #fafafa !important;
  --mdc-filled-text-field-input-text-color                  : #ffffff !important;
  --mdc-filled-text-field-disabled-input-text-color         : #ffffff !important;
  --mdc-filled-text-field-input-text-placeholder-color      : #ffffff !important;
  --mdc-filled-text-field-active-indicator-color            : #ffffff !important;
  --mdc-filled-text-field-disabled-active-indicator-color   : #ffffff !important;
  --mdc-filled-text-field-hover-active-indicator-color      : #1118e8 !important;
  --mdc-outlined-text-field-caret-color                     : #ffffff !important;
  --mdc-outlined-text-field-focus-outline-color             : #ffffff !important;
  --mdc-outlined-text-field-input-text-color                : #ffffff !important;
  --mdc-outlined-text-field-disabled-input-text-color       : #ffffff !important;
  --mdc-outlined-text-field-input-text-placeholder-color    : #ffffff !important;
  --mdc-outlined-text-field-outline-color                   : #ffffff !important;
  --mdc-outlined-text-field-disabled-outline-color          : #ffffff !important;
  --mdc-outlined-text-field-hover-outline-color             : #ffffff !important;
  --mat-form-field-focus-select-arrow-color                 : #ffffff !important;
  --mat-form-field-disabled-input-text-placeholder-color    : #ffffff !important;
  --mat-form-field-state-layer-color                        : #ffffff !important;
  --mat-form-field-select-option-text-color                 : inherit;
  --mat-form-field-select-disabled-option-text-color        : GrayText;
  --mat-form-field-leading-icon-color                       : unset;
  --mat-form-field-disabled-leading-icon-color              : unset;
  --mat-form-field-trailing-icon-color                      : unset;
  --mat-form-field-disabled-trailing-icon-color             : unset;
  --mat-form-field-enabled-select-arrow-color               : #ffffff !important;
  --mat-form-field-disabled-select-arrow-color              : #ffffff !important;
  --mat-form-field-hover-state-layer-opacity                : 0.04;
  --mat-form-field-focus-state-layer-opacity                : 0.08;
  --mdc-filled-text-field-error-caret-color                 : #1118e8 !important;
  --mdc-filled-text-field-error-active-indicator-color      : #1118e8 !important;
  --mdc-filled-text-field-error-focus-active-indicator-color: #1118e8 !important;
  --mdc-filled-text-field-error-hover-active-indicator-color: #1118e8 !important;
  --mdc-outlined-text-field-error-caret-color               : #ffffff !important;
  --mdc-outlined-text-field-error-focus-outline-color       : #da692d !important;
  --mdc-outlined-text-field-error-hover-outline-color       : #e29666 !important;
  --mdc-outlined-text-field-error-outline-color             : #da692d !important;
  --mat-form-field-error-text-color                         : #da692d !important;
  --mat-form-field-error-focus-trailing-icon-color          : unset;
  --mat-form-field-error-hover-trailing-icon-color          : unset;
  --mat-form-field-error-trailing-icon-color                : unset;
}



.footer-distributed {
  background: #000000;
  padding: 55px 50px;
  color: #f3faf9;
  font-size: 14px;

  .footer-img {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .footer-company {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .footer-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 25px;
  }

  a {
    padding: 15px 15px 15px 15px;
  }
}

.footer-dev {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  a {
    font-size: smaller;
    color: #f3faf9;
    text-decoration: none;
  }
}

@media (max-width: 880px) {
}

.mat-mdc-unelevated-button:not(:disabled) {
  color: var(--mdc-filled-button-label-text-color);
  background-color: #e6683c;
}
