<section class="main-section-contact">
  <div class="titulo-contact">contato</div>
  <div class="contato">
    <div class="details-contato">
      <p>Entre em contato conosco</p>

      <p>Telefone:
        +55 (34) 99907 8808</p>
      <p> Email:
        grupohgi&#64;grupohgi.com.br</p>

      <div class="card-contact">
        <a class="social-link1">
          <img src="/assets/icons/instagram.svg" alt="">
        </a>
        <a class="social-link2">
          <img src="/assets/icons/linkedin.svg" alt="">
        </a>
        <a class="social-link3">
          <img src="/assets/icons/youtube.svg" alt="">
        </a>
        <a class="social-link4">
          <img src="/assets/icons/whatsapp.svg" alt="">
        </a>
      </div>
    </div>
    <div class="form-contato">
      <form action="">
        <div class="container-contact">
          <!-- fill -->
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput [formControl]="nome" (blur)="updateErrorMessage()" required />
            @if (nome.invalid) {
            <mat-error>{{ errorMessage }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="container-contact">
          <!-- outline -->
          <mat-form-field appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input matInput [formControl]="email" (blur)="updateErrorMessage()" required />
            @if (email.invalid) {
            <mat-error>{{ errorMessage }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="container-contact">
          <mat-form-field appearance="outline">
            <mat-label>Mensagem</mat-label>
            <textarea matInput [formControl]="mensagem" (blur)="updateErrorMessage()" required></textarea>
            @if (mensagem.invalid) {
            <mat-error>{{ errorMessage }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="container-contact">
          <button mat-flat-button type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</section>

<footer class="footer-distributed">
  <div class="footer-img"></div>
  <div class="footer-company"><small>HGISUPPLY © 2024</small></div>
  <div class="footer-dev">
    <a href="#"><small>Designed & Developed by apldeveloper.</small></a>
  </div>
</footer>
