.section-header {
  background-image   : url(../../../assets/imgs/header.webp);
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: center;
  height             : 100%;
  width              : 100%;
}

@media screen and (max-width: 997px) {
  .section-header {
    background-image: url(../../../assets/imgs/header.webp);
  }
}
