<section class="main-section">
  <div class="titulo">NOSSOS CLIENTES</div>

  <div class="accordion">
    <div class="item bg-barcelona">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-sydney">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-venice">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-singapore">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-san-francisco">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-barcelona">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-sydney">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-venice">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-singapore">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-san-francisco">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-barcelona">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-sydney">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-venice">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-singapore">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
  </div>

  <div class="accordion">
    <div class="item bg-barcelona">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-sydney">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-venice">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-singapore">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-san-francisco">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-barcelona">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-sydney">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-venice">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-singapore">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-san-francisco">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-barcelona">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-sydney">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-venice">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
    <div class="item bg-singapore">
      <div class="overlay">
        <div class="overlay-inner"></div>
      </div>
    </div>
  </div>
</section>
