<section class="client-section">
  <div class="titulo-client">NOSSOS CLIENTES</div>

  <div class="client-content">
    <div class="header-card-client">
      <div class="img-card-client">
        <img src="/assets/clients/mrv.webp" alt="" />
      </div>
    </div>

    <div class="header-card-client">
      <div class="img-card-client">
        <img src="/assets/clients/benx.webp" alt="" />
      </div>
    </div>

    <div class="header-card-client">
      <div class="img-card-client">
        <img src="/assets/clients/tecnnika.webp" alt="" />
      </div>
    </div>
  </div>
  <div class="top-client">
    <div class="titulo-client space-2em">Somos a solução completa para os Sistemas Prediais</div>

    <!-- line 1 -->
    <div class="client-content">
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/fxemoji--directhit.png" alt="" />
          <span>Compras assertivas</span>
        </div>
      </div>
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/iwwa--connection-o.png" alt="" />
          <span>Conexões diretas com grandes
            industrias</span>
        </div>
      </div>
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/material-symbols-light--school-outline.png" alt="" />
          <span>Plataforma de ensino</span>
        </div>
      </div>
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/arcticons--notebloc.png" alt="" />
          <span>Redução de NFs</span>
        </div>
      </div>
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/material-symbols-light--query-stats.png" alt="" />
          <span>Consultoria por profissionais experiente</span>
        </div>
      </div>
    </div>
    <!-- line 2 -->
    <div class="client-content">
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/noto--shopping-bags.png" alt="" />
          <span>Smart Sales (Compras Inteligentes e ágeis)</span>
        </div>
      </div>
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/streamline--business-idea-money.png" alt="" />
          <span>Negociações integradas</span>
        </div>
      </div>
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/vscode-icons--folder-type-tools-opened.png" alt="" />
          <span>Acompanhamento técnico</span>
        </div>
      </div>
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/codicon--remote-explorer.png" alt="" />
          <span>Acessória remota para todo Brasil</span>
        </div>
      </div>
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/flat-color-icons--todo-list.png" alt="" />
          <span>Negociações em formato de LOF</span>
        </div>
      </div>
    </div>
    <!-- line 3 -->
    <div class="client-content">
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/carbon--service-levels.png" alt="" />
          <span>Serviços especializados</span>
        </div>
      </div>
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/medical-icon--i-interpreter-services.png" alt="" />
          <span>Gerenciamento e planejamento de obras</span>
        </div>
      </div>
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/et--strategy.png" alt="" />
          <span>Comissionamento</span>
        </div>
      </div>
      <div class="header-card-client">
        <div class="body-card-top-client">
          <img src="/assets/icons/material-symbols-light--precision-manufacturing-outline-sharp.png" alt="" />
          <span>Industrialização</span>
        </div>
      </div>
      <!-- <div class="header-card-client">
        <div class="body-card-top">
          <img src="/assets/icons/flat-color-icons--todo-list.png" alt="" />
          <span>Negociações em formato de LOF</span>
        </div>
      </div> -->
    </div>
  </div>
</section>
