<section class="client-section">
  <div class="titulo">NOSSOS CLIENTES</div>

  <div class="client-content">

    <div class="header-card-client">
      <div class="img-card-client">
        <img src="/assets/clients/bravo.webp" alt="" />
      </div>
    </div>

    <div class="header-card-client">
      <div class="img-card-client">
        <img src="/assets/clients/radcom.webp" alt="" />
      </div>
    </div>

    <div class="header-card-client">
      <div class="img-card-client">
        <img src="/assets/clients/danger.webp" alt="" />
      </div>
    </div>

    <div class="header-card-client">
      <div class="img-card-client">
        <img src="/assets/clients/lightwall.webp" alt="" />
      </div>
    </div>


  </div>
</section>
