.client-section {
  padding              : 2rem 1rem 1rem 1em;
  margin-top           : -1px;
  background-color     : #1f262f;
  background-image     : url(../../../assets/imgs/mapa-mundi-clients.webp);
  background-size      : cover;
  width                : -webkit-fill-available;
  background-position  : center center;
  //height             : 650px;

  .titulo {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    text-align     : center;
    width          : 100%;
    margin-top     : 1em;
    font-size      : 3rem;
    font-weight    : 700;
    color          : #f6f8f9;
    font-family    : 'introBlack', Verdana, Geneva, Tahoma, sans-serif;
  }

  .client-content {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    gap            : 1rem;
    padding        : 2rem;

    .header-card-client {
      background: transparent;

      .img-card-client {
        img {
          border-radius: 5px;
        }
      }
    }
  }

}


@media (max-width: 997px) {
  .client-section {
    .client-content {
      flex-direction: column;

      .header-card-client {
        width: 100%;

        .img-card-client {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
