/* header */
.section-header-educacao {
  background-image   : url(../../../../assets/hgieducacao/header-educacao.webp);
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: center;
  height             : 80%;
  max-width          : 100%;

  .logo-educacao {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;

    img {
      max-width: 100%;
      padding  : 15em 0 15em 0;
    }
  }
}

/* body */
.section-educacao {
  padding         : 2em 1em 1em 1em;
  background-color: #1e242b;
  background-image: radial-gradient(at 47% 33%,
      hsl(212.31, 18%, 14.000000000000002%) 0,
      transparent 59%),
    radial-gradient(at 82% 65%, hsl(206.67, 20%, 18%) 0, transparent 55%);

  .titulo-educacao {
    text-align : center;
    width      : 100%;
    font-size  : 2.9em;
    font-weight: 700;
    color      : #f6f8f9;
    line-height: 52px;
    font-family: "introBlack", Verdana, Geneva, Tahoma, sans-serif;
    padding    : 1em 0 6px 0;
  }

  .subtitulo-educacao {
    text-align : center;
    width      : 100%;
    font-size  : 1.2em;
    font-weight: lighter;
    color      : #da692d;
    font-family: 'Space Grotesk', Verdana, Geneva, Tahoma, sans-serif;
  }

  .row-educacao {
    display        : flex;
    text-align     : left;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 2em;

    .column-educacao-img {
      width: 39%;

      img {
        width           : 20em;
        border-radius   : 5px;
        background-color: #f6f8f9;
      }
    }

    .column-educacao {
      width: 50%;
      color: #f6f8f9;

      div {
        margin-top : 18px;
        font-size  : 17px;
        font-weight: 300;
        line-height: 25px;
      }
    }
  }

  * {
    box-sizing: border-box;
  }

  .videos {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 0 1em 4em 1em;

    video{
      max-width: 100%;
    }
  }

  .mapa-unicte {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;

    img{
      max-width: 100%;
    }
  }

}

@media screen and (max-width: 997px) {
  .section-header-educacao {
    height: 60%;
  }

  .section-educacao {

    .row-educacao {
      flex-direction: column;
      height        : fit-content;
      margin-bottom : 2em;

      .column-educacao-img {

        img {
          max-width: 100%;
        }
      }

      .column-educacao {
        width: 100%;
      }
    }

  }
}
