<!-- header -->
<section class="section-header-educacao">
  <div class="logo-educacao">
    <img src="/assets/logo/HGIeducacao.webp" alt="">
  </div>
</section>

<section class="section-educacao ">
  <div class="titulo-educacao">QUALIFICAÇÃO EM EXCELÊNCIA</div>
  <div class="subtitulo-educacao">UNIVERSIDADE SETORIAL DA CONSTRUÇÃO - UniCTE</div>

  <div class="row-educacao">
    <div class="column-educacao-img">
      <img src="/assets/hgieducacao/unicte.png" alt="Unicte">
    </div>
    <div class="column-educacao">
      <div>
        A UniCTE é uma plataforma digital destinada a capacitação de engenheiros, arquitetos e demais profissionais que
        atuam no setor da construção, tanto aqueles que trabalham no setor público quanto os que atuam em
        incorporadoras, construtoras, projetistas, fabricantes, gerenciadoras, startups e demais empresas da cadeia
        produtiva. Nossa proposta de valor destina-se também aqueles profissionais liberais que têm suas próprias
        empresas e atuam de forma autônoma em todas as regiões do Brasil.
      </div>
    </div>
  </div>

  <div class="videos">
    <span
      ><video
        id="video"
        [controls]="false"
        preload="metadata"
        class="video"
        width="182"
        height="182"
        autoplay
        muted
        loop
      >
        <source src="/assets/videos/insta01.mp4" type="video/mp4" /></video
    ></span>
    <span
      ><video
        id="video"
        [controls]="false"
        preload="metadata"
        class="video"
        width="182"
        height="182"
        autoplay
        muted
        loop
      >
        <source src="/assets/videos/insta02.mp4" type="video/mp4" /></video
    ></span>
    <span>
      <video
        id="video"
        [controls]="false"
        preload="metadata"
        class="video"
        width="182"
        height="182"
        autoplay
        muted
        loop
      >
        <source src="/assets/videos/insta03.mp4" type="video/mp4" />
      </video>
    </span>
    <span
      ><video
        id="video"
        [controls]="false"
        preload="metadata"
        class="video"
        width="182"
        height="182"
        autoplay
        muted
        loop
      >
        <source src="/assets/videos/insta04.mp4" type="video/mp4" /></video
    ></span>
    <span
      ><video
        id="video1"
        [controls]="false"
        preload="metadata"
        class="video"
        width="182"
        height="182"
        autoplay
        muted
        loop
      >
        <source src="/assets/videos/insta05.mp4" type="video/mp4" /></video
    ></span>
    <span
      ><video
        id="video"
        [controls]="false"
        preload="metadata"
        class="video"
        width="182"
        height="182"
        autoplay
        muted
        loop
      >
        <source src="/assets/videos/insta06.mp4" type="video/mp4" /></video
    ></span>
    <span
      ><video
        id="video"
        [controls]="false"
        preload="metadata"
        class="video"
        width="182"
        height="182"
        autoplay
        muted
        loop
      >
        <source src="/assets/videos/insta07.mp4" type="video/mp4" /></video
    ></span>
  </div>

  <div class="mapa-unicte">
    <img src="/assets/hgieducacao/mapa-unicte.png" alt="">
  </div>

</section>

<!-- footer -->
<section>
  <app-footer></app-footer>
</section>
