<!-- header -->
<section class="section-header-mkt">
  <div class="logo-mkt">
    <img src="/assets/logo/HGImkt.webp" alt="">
  </div>
</section>

<section class="section-mkt">
  <div class="titulo-mkt">CONTEÚDOS DE QUALIDADE</div>

  <div class="row-mkt">
    <div class="column-mkt-img">
      <img src="/assets/hgimkt/megaphone.webp" alt="Designed by Freepik">
    </div>
    <div class="column-mkt">
      CRIAÇÃO E DESENVOLVIMENTO DE CONTEÚDOS TÉCNICOS PARA INDUSTRIAS DO SEGUIMENTO DOS SISTEMAS PREDIIAS.
    </div>
  </div>

  <div class="row-mkt-escopo">
    <div class="column-mkt-escopo">
      <div>
        <p>ESCOPO DE TRABALHO</p>
        <ul>
          <li>Criação de conteúdos para universidades corporativas com foco em Sistemas Prediais</li>
          <li>Gravação de vídeos técnico com Heitor Gouveia</li>
          <li>Desenvolvidero tiros tendos fénicos para redes sociais</li>
          <li>Lançamento técnico de produtos com foco nos Sistemas Prediais</li>
          <li>Participação técnica em feiras, eventos e conferências do setor</li>
        </ul>
      </div>
    </div>
    <div class="column-mkt-escopo">
      <div>
        <p>GERENCIAMENTO DE REDES SOCIAIS COM FOCO TECNICO</p>
        <ul>
          <li>Posts humanizados e com padronização de identidade visual</li>
          <li>Biografia e destaques atualizados e padronizados de acordo com sua marca</li>
          <li>Gerenciamento de redes sociais visando o aumento de vendas utilizando técnicas e estratégias para atrair
            clientes</li>
          <li>Crescimento nas redes sociais tais como</li>
          <li>Aumento de seguidores Visualizações de reels</li>
          <li>Desenvolvidero tiros tendos fénicos para redes sociais</li>
          <li>Comentários Curtidas Visualizações em story (Impulsionamento)</li>
          <li>Tráfego pago</li>
        </ul>
      </div>
    </div>
  </div>


</section>

<!-- footer -->
<section>
  <app-footer></app-footer>
</section>
