<!-- header -->
<section class="section-header-seg-trab">
  <div class="logo-seg-trab">
    <img src="/assets/logo/HGIsegurancatrabalho.webp" alt="">
  </div>
</section>

<section class="section-seg-trab">
  <div class="titulo-seg-trab">Maior Proteção</div>

  <div class="row-seg-trab">
    <div class="column-seg-trab-img">
      <img src="/assets/hgisegurancatrabalho/protective-equipment.webp" alt="Designed by Freepik">
    </div>
    <div class="column-seg-trab">
      <div>Desenvolvimento</div>
      <div>Elaboração</div>
      <div>Consultoria</div>
      <div>Acompanhamento de todas as atividades listadas e tidas como obrigatórias na NR-10, NBR 5419, NBR
        5410 entre outras normas imprescindíveis para mitigar os riscos nas instalações elétricas provisórias de um
        canteiro de obras.</div>
    </div>
  </div>
  <div class="fundo-NR">
    <div class="column-nr">
      <div class="card">
        <div class="textBox">
          <div class="textContent">
            <p class="h1">NR-10</p>
          </div>
          <p class="p">NR-10 é a Norma Regulamentadora emitida pelo Ministério do Trabalho e Emprego do Brasil que tem por objetivo garantir a segurança e a saúde dos trabalhadores que interagem nas instalações e serviços com eletricidade.</p>
        <div>
      </div></div></div>
    </div>
    <div class="column-nr-img">
      <img src="/assets/hgisegurancatrabalho/NR.png" alt="Designed by Freepik">
    </div>
  </div>

  <div class="titulo-seg-trab">ESCOPO DE TRABALHO</div>
  <div class="row-escopo">

    <div class="column-escopo">
      <div>Projeto elétrico de áreas provisórias</div>
      <div>Análise de risco - NBR 5419:2019- Parte II - SPDA de canteiro (NR 18.6.18.1)</div>
      <div>PIE - Prontuário de Instalações Elétrica (NR10.2.4)</div>
      <div>Autorizações para os eletricistas e emissor de OSE (NR10.8 e 10.11.2)</div>
      <div>Memorial descritivo das Instalações (NR10.3.9) (Engenheros, Equipe de SA, Enearregados de etrea)
        com eletricidade</div>
      <div>Recolhimento de responsabilidade técnica por todo o período da obra</div>
      <div>RTI - Relatório Técnico de Inspeções (NR 10.2.4 "g")</div>
      <div>Inspeção focada nas instalações elétricas provisórias da obra, verificação de dimensionamentos
        dos circuitos, quadros, emendas, derivações, sistemas de proteção, documentações e os itens previstos na NR
        10.2.4'g". Emissão de um relatório para direcionamento das ações para correção e melhoria</div>
      <div>Modição de ondas po- 18. 7, Modo o do si to dado</div>
      <div>Emissão de laudo técnico conclusivo</div>
    </div>

  </div>
</section>

<!-- footer -->
<section>
  <app-footer></app-footer>
</section>
