// header
.section-header-seg-trab {
  background-image   : url(../../../../assets/hgisegurancatrabalho/header-protective-work.webp);
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: center;
  height             : 80%;
  max-width          : 100%;

  .logo-seg-trab {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;

    img {
      max-width: 100%;
      padding  : 15em 0 15em 0;
    }
  }
}

// body
.section-seg-trab {
  padding         : 2em 1em 1em 1em;
  background-color: #1e242b;
  background-image: radial-gradient(at 47% 33%,
      hsl(212.31, 18%, 14.000000000000002%) 0,
      transparent 59%),
    radial-gradient(at 82% 65%, hsl(206.67, 20%, 18%) 0, transparent 55%);

  .titulo-seg-trab {
    text-align : center;
    width      : 100%;
    font-size  : 2.9em;
    font-weight: 700;
    color      : #f6f8f9;
    line-height: 52px;
    font-family: "introBlack", Verdana, Geneva, Tahoma, sans-serif;
    padding    : 1em 0 1em 0;
  }

  * {
    box-sizing: border-box;
  }

  .row-seg-trab {
    display        : flex;
    text-align     : left;
    flex-direction : row;
    justify-content: center;
    align-items    : center;

    .column-seg-trab-img {
      width: 39%;

      img {
        width        : 30em;
        border-radius: 5px;
      }
    }

    .column-seg-trab {
      width: 50%;
      color: #fff;

      div {
        margin-top: 18px;
        font-size : 16px;
      }
    }
  }

  .fundo-NR {
    display        : flex;
    height         : 380px;
    width          : 100%;
    flex-direction : row;
    justify-content: center;
    align-items    : flex-start;

    .column-nr {
      color          : #f6f8f9;
      width          : 60%;
      display        : flex;
      flex-direction : column;
      justify-content: center;
      align-items    : center;
      height         : -webkit-fill-available;


      .card {
        width          : 100%;
        max-width      : 550px;
        height         : 250px;
        background     : #353535;
        border-radius  : 20px;
        display        : flex;
        align-items    : center;
        justify-content: left;
        backdrop-filter: blur(10px);
        transition     : 0.5s ease-in-out;
      }

      .card:hover {
        cursor   : pointer;
        transform: scale(1.05);
      }

      .textBox {
        width      : calc(100% - 9px);
        margin-left: 10px;
        color      : white;
        font-family: 'Poppins'sans-serif;
      }

      .textContent {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        padding        : 1em;
      }

      .h1 {
        font-size  : 22px;
        font-weight: bold;
      }

      .p {
        padding    : 1em;
        font-size  : 16px;
        font-weight: lighter;
      }

      .p:hover {
        color: #ff740d;
      }

    }

    .column-nr-img {
      width          : 40%;
      display        : flex;
      flex-direction : column;
      justify-content: flex-end;
      align-items    : flex-end;

      img {
        max-width: 40em;
      }
    }
  }

  .row-escopo {
    display        : flex;
    text-align     : left;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    margin-bottom  : 2em;
    line-height    : 25px;


    .column-escopo {
      width: 89%;
      color: #fff;

      div {
        margin-top : 18px;
        font-size  : 17px;
        font-weight: 300;
      }
    }
  }

  .row:after {
    content: "";
    display: table;
    clear  : both;
  }

}



@media screen and (max-width: 997px) {

  .section-header-seg-trab {
    height: 60%;
  }

  .section-seg-trab {

    .row-seg-trab {
      flex-direction: column;
      height        : fit-content;
      margin-bottom : 2em;

      .column-seg-trab-img {
        width: 100%;

        img {
          max-width: 100%;
        }
      }

      .column-seg-trab {
        width: 100%;
      }
    }

    .fundo-NR {
      flex-direction: column-reverse;
      height        : fit-content;

      .column-nr {
        width  : 100%;
        padding: 0;

        .titulo-desc {
          width: 100%;
        }

        .desc {
          width: 100%;
        }
      }

      .column-nr-img {
        width        : 100%;
        margin-bottom: 2em;

        img {
          max-width: 100%;
        }
      }
    }

    .row-escopo {
      .column-escopo {
        max-width: 100%;
      }
    }

    .row:after {
      content: "";
      display: table;
      clear  : both;
    }

  }
}
