<!-- header -->
<section class="section-header-servicos-especiais">
  <div class="logo-servicos-especiais">
    <img src="/assets/logo/HGIservicosespeciais.webp" alt="">
  </div>
</section>
<section class="section-servicos-especiais">
  <div class="titulo-servicos-especiais">SUA MELHOR ESCOLHA</div>

  <div class="row-servicos-especiais">
    <div class="column-servicos-especiais">
      <div>
        <p>NOSSOS PARCEIROS VÃO CUIDAR DE DETALHES QUE FAZEM TODA DIFERENÇA</p>
      </div>
    </div>
  </div>

  <div class="row-servicos-especiais-parceiros">
    <div class="column-servicos-especiais-img">
      <img src="/assets/hgiservicosespeciais/danger.webp" alt="">
    </div>
    <div class="column-servicos-especiais-img">
      <img src="/assets/hgiservicosespeciais/bravo.webp" alt="">
    </div>
    <div class="column-servicos-especiais-img">
      <img src="/assets/hgiservicosespeciais/lightwall.webp" alt="">
    </div>
    <div class="column-servicos-especiais-img">
      <img src="/assets/hgiservicosespeciais/radcom.webp" alt="">
    </div>
    <div class="column-servicos-especiais-img">
      <img src="/assets/hgiservicosespeciais/grifo.webp" alt="">
    </div>
  </div>

</section>

<!-- footer -->
<section>
  <app-footer></app-footer>
</section>
