.menu {
  display        : flex;
  align-items    : center;
  justify-content: flex-end;
  width          : 90%;
  position       : absolute;
  padding        : 0;

  .nav {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
  }

  .btns {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    justify-content: end;
  }

  button {
    font-size  : 12px;
    font-family: roboto, sans-serif;
    color      : #ffffff !important;
  }
}

@media screen and (max-width: 997px) {
  .menu {
    padding: 0 1em 0 0;
  }
}
