<menu class="menu">
  <nav class="nav">
    <button mat-button>Home</button>
    <button mat-button>Quem Somos</button>
    <button mat-button>Nosso Propósito</button>
    <button mat-button>Trilha de Negociação</button>
    <button mat-button>Contato</button>
    <button mat-icon-button aria-label="x">
      <mat-icon>menu</mat-icon>
    </button>
  </nav>
  <!--
    [matMenuTriggerFor]="menu"
    <mat-menu #menu="matMenu">
     <button mat-button>Home</button>
    <button mat-button>Quem Somos</button>
    <button mat-button>Nosso Propósito</button>
    <button mat-button>Trilha de Negociação</button>
    <button mat-button>Contato</button>
  </mat-menu> -->
</menu>
