.business-units-section {
  padding         : 2rem 1rem 1rem 1em;
  background-color: #1e242b;
  background-image: radial-gradient(at 47% 33%,
      hsl(212.31, 18%, 14.000000000000002%) 0,
      transparent 59%),
    radial-gradient(at 82% 65%, hsl(206.67, 20%, 18%) 0, transparent 55%);
  height: auto;

  .titulo-bu {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    color: #f6f8f9;
    line-height: 52px;
    font-family: "introBlack", Verdana, Geneva, Tahoma, sans-serif;
    padding: 2em 0 2em 0;
  }

  .content-body-bu {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    gap            : 1rem;
    padding        : 1rem 1rem 1rem 1rem;

    .unique-card-bu {
      position     : relative;
      width        : 33%;
      height       : 20em;
      overflow     : hidden;
      border-radius: 5px;
      box-shadow   : 0 4px 8px rgba(0, 0, 0, 0.2);
      transition   : transform 0.3s, box-shadow 0.3s;
    }

    .unique-card-bu:hover {
      transform : scale(1.1);
      box-shadow: 0 1px 5px #f96d00;
    }

    .card-content-bu {
      position  : absolute;
      top       : 50%;
      left      : 50%;
      transform : translate(-50%, -50%);
      width     : 100%;
      text-align: center;
      color     : #f2f2f2;
      z-index   : 2;
      transition: color 0.3s;

      .btnDetalhes-bu {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        padding        : 40px 0 0 0;
        transition     : transform 300ms ease;
        z-index        : 5;
      }
    }

    .unique-card-bu:hover .card-content-bu {
      color: #f96d00;
    }

    .background-overlay-bu {
      position     : absolute;
      top          : 0;
      left         : 0;
      width        : 100%;
      height       : 100%;
      background   : #393e46;
      border-radius: 5px;
      transition   : opacity 0.3s;
    }

    .unique-card-bu:hover .background-overlay-bu {
      opacity: 1;
    }

    .card-title-bu {
      font-size    : 24px;
      font-weight  : bold;
      margin-bottom: 10px;
    }

    .card-description-bu {
      font-size: 0.9rem;
      padding  : 10px;
    }

    .logo-card-bu {
      width: 100%;
    }
  }

}

@media (max-width: 997px) {
  .business-units-section {

    .content-body-bu {
      flex-direction: column;

      .unique-card-bu {
        width: 100%;
      }
    }
  }
}

a{
  text-decoration: none;
}
