<section class="business-units-section">
  <div class="titulo">UNIDADES DE NEGÓCIO</div>
  <div class="subtitulo"></div>

  <div class="content-body">
    <div class="unique-card">
      <div class="background-overlay"></div>
      <div class="card-content">
        <img src="/assets/logo/HGIsupply/HGIsupply-28.png" alt="logo" class="logo-card">
        <div class="card-description">SUPRIMENTOS CORPORATIVOS DOS SISTEMAS PREDIAIS</div>
        <div class="btnDetalhes">
        <a href="/hgi-supply"><app-btn-detalhes></app-btn-detalhes></a>
        </div>
      </div>
    </div>

    <div class="unique-card">
      <div class="background-overlay"></div>
      <div class="card-content">
        <img src="/assets/logo/HGIconsultoria/HGIconsultoria-29.png" alt="logo" class="logo-card">
        <div class="card-description">INTEGRAÇÃO DO SISTEMA DE GESTÃO DE INSTALAÇÕES</div>
        <div class="btnDetalhes">
          <app-btn-detalhes></app-btn-detalhes>
        </div>
      </div>
    </div>

    <div class="unique-card">
      <div class="background-overlay"></div>
      <div class="card-content">
        <img src="/assets/logo/HGIeducacao/HGIeducacao-31.png" alt="logo" class="logo-card">
        <div class="card-description">ACADEMIA DOS SISTEMAS PREDIAIS</div>
        <div class="btnDetalhes">
          <app-btn-detalhes></app-btn-detalhes>
        </div>
      </div>
    </div>

    <div class="unique-card">
      <div class="background-overlay"></div>
      <div class="card-content">
        <img src="/assets/logo/HGImkt/HGImkt-30.png" alt="logo" class="logo-card">
        <div class="card-description">CRIAÇÃO E DESENVOLVIMENTO DE CONTEÚDOS TÉCNICOS</div>
        <div class="btnDetalhes">
          <app-btn-detalhes></app-btn-detalhes>
        </div>
      </div>
    </div>
  </div>

  <!-- line old -->
  <div class="content-body">
    <div class="unique-card">
      <div class="background-overlay"></div>
      <div class="card-content">
        <img src="/assets/logo/HGIsegurancaTrabalho/HGIsegurancaTrabalho-34.png" alt="logo" class="logo-card">
        <div class="card-description">NR10, LAUDOS E ARTS</div>
        <div class="btnDetalhes">
          <app-btn-detalhes></app-btn-detalhes>
        </div>
      </div>
    </div>

    <div class="unique-card">
      <div class="background-overlay"></div>
      <div class="card-content">
        <img src="/assets/logo/HGIgestaoObras/HGIgestaoObras-32.png" alt="logo" class="logo-card">
        <div class="card-description">ORÇAMENTO, PLANEJAMENTO, CRONOGRAMA FÍSICO FINANCEIRO</div>
        <div class="btnDetalhes">
          <app-btn-detalhes></app-btn-detalhes>
        </div>
      </div>
    </div>

    <div class="unique-card">
      <div class="background-overlay"></div>
      <div class="card-content">
        <img src="/assets/logo/HGIservicosEspeciais/HGIservicosEspeciais-33.png" alt="logo" class="logo-card">
        <div class="card-description">SERVIÇOS ESPECIALIZADOS EM SISTEMAS PREDIAIS</div>
        <div class="btnDetalhes">
          <app-btn-detalhes></app-btn-detalhes>
        </div>
      </div>
    </div>

    <div class="unique-card">
      <div class="background-overlay"></div>
      <div class="card-content">
        <img src="/assets/logo/HGIindustria/HGIindustria-42.png" alt="logo" class="logo-card">
        <div class="card-description">HGI INDUSTIAL</div>
        <div class="btnDetalhes">
          <app-btn-detalhes></app-btn-detalhes>
        </div>
      </div>
    </div>
  </div>
</section>
