<div class="ag-timeline-block">
  <section class="ag-section">
    <div class="ag-format-container">
      <div class="js-timeline ag-timeline">
        <div class="js-timeline_line ag-timeline_line">
          <div class="js-timeline_line-progress ag-timeline_line-progress"></div>
        </div>
        <div class="ag-timeline_list">
          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">01</div>
              </div>
              <div class="ag-timeline-card_meta-box">
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 1</div>
                  <div class="ag-timeline-card_subtitle">Sistema elétrico <br>
                    Infraestrutura subterrânea</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente a ENTRADA DE ENERGIA SUBTERRÂNEA
                  </div>
                  <div class="details-station">
                    <h4>01 - QGBT - QUADRO GERAL DE BAIXA TENSÃO</h4>
                    <h4>02 - ELETRODUTOS</h4>
                    <h4>03 - CABOS </h4>
                    <h4>04 - QM - QUADRO MEDIDOR</h4>
                    <h4>05 - POSTEAMENTO DECORATIVO / FOTOCÉLULA E LUMINÁRIAS</h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">02</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 2</div>
                  <div class="ag-timeline-card_subtitle">Sistema elétrico <br>
                    Infraestrutura aérea</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente a ENTRADA DE ENERGIA AÉREA
                  </div>
                  <div class="details-station">
                    <h4>01 - POSTES </h4>
                    <h4>02 - TRANSFORMADORES </h4>
                    <h4>03 - CABOS </h4>
                    <h4>04 - MISCELÂNEAS </h4>
                    <h4>05 - POSTEAMENTO DECORATIVO / FOTOCÉLULA E LUMINÁRIAS</h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">03</div>
              </div>
              <div class="ag-timeline-card_meta-box">
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 3</div>
                  <div class="ag-timeline-card_subtitle">Sistema elétrico <br>
                    Elétrica predial - Estrutura</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente a ELÉTRICA PREDIAL - ESTRUTURA
                  </div>
                  <div class="details-station">
                    <h4>01 - ELETRODUTOS </h4>
                    <h4>02 - QDC - QUADRO DE DISTRIBUIÇÃO DE CIRCÚITOS </h4>
                    <h4>03 - CAIXINHAS ELÉTRICAS </h4>
                    <h4>04 - CABOS </h4>
                    <h4>05 - TERMINAIS </h4>
                    <h4>06 - ESPAÇADORES E FITAS </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">04</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 4</div>
                  <div class="ag-timeline-card_subtitle">Sistema elétrico <br>
                    Elétrica predial <br> Disjuntores e miscelâneas</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente a ELÉTRICA PREDIAL - DISJUNTORES E
                    MISCELÂNEAS
                  </div>
                  <div class="details-station">
                    <h4>01 - DRs </h4>
                    <h4>02 - DPs </h4>
                    <h4>03 - DISJUNTORES </h4>
                    <h4>04 - BARRAMENTOS </h4>
                    <h4>05 - TERMINAIS E ANILHAS </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">05</div>
              </div>
              <div class="ag-timeline-card_meta-box">
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 5</div>
                  <div class="ag-timeline-card_subtitle">Sistema elétrico <br>
                    Elétrica predial <br> Acabamento elétrico</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente a ELÉTRICA PREDIAL ACABAMENTO
                    ELÉTRICO
                  </div>
                  <div class="details-station">
                    <h4>01 - TOMADAS / INTERRUPTORES / ESPELHOS / USB </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">06</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 6</div>
                  <div class="ag-timeline-card_subtitle">Sistema elétrico <br>
                    Elétrica predial <br> Luminárias e sensores</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente a ELÉTRICA PREDIAL LUMINÁRIAS E
                    SENSORES
                  </div>
                  <div class="details-station">
                    <h4>01 - LUMINÁRIAS </h4>
                    <h4>02 - SENSORES DE PRESENÇA </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">07</div>
              </div>
              <div class="ag-timeline-card_meta-box">
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 7</div>
                  <div class="ag-timeline-card_subtitle">Sistema elétrico <br>
                    Infraestrutura esgoto</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente a INFRAESTRUTURA ESGOTO
                  </div>
                  <div class="details-station">
                    <h4>01 - CAIXAS PRÉ-MOLDADAS DE CONCRETO </h4>
                    <h4>02 - CAIXAS PVC 360º </h4>
                    <h4>03 - TUBOS E CONEXÕES </h4>
                    <h4>04 - MANILHAS DE CONCRETO </h4>
                    <h4>05 - ETE </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">08</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 8</div>
                  <div class="ag-timeline-card_subtitle">Sistema hidráulico <br>
                    Esgoto predial</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente ao ESGOTO PREDIAL
                  </div>
                  <div class="details-station">
                    <h4>01 - PASSANTES DE LAJE </h4>
                    <h4>02 - TUBOS E CONEXÕES </h4>
                    <h4>03 - ANTI INFILTRAÇÃO </h4>
                    <h4>04 - FIXAÇÕES </h4>
                    <h4>05 - BLOQUEADORES E ACABAMENTOS </h4>
                    <h4>06 - SIFÃOS E VÁLVULAS </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">09</div>
              </div>
              <div class="ag-timeline-card_meta-box">
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 9</div>
                  <div class="ag-timeline-card_subtitle">Sistema hidráulico <br>
                    Infraestrutura drenagem</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente a INFRAESTRUTURA DRENAGEM
                  </div>
                  <div class="details-station">
                    <h4>01 - CAIXAS PRÉ-MOLDADAS DE CONCRETO </h4>
                    <h4>02 - CAIXAS PVC 360º </h4>
                    <h4>03 - TUBOS E CONEXÕES </h4>
                    <h4>04 - MANILHAS DE CONCRETO </h4>
                    <h4>05 - TUBO PEAD </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">10</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 10</div>
                  <div class="ag-timeline-card_subtitle">Sistema hidráulico <br>
                    Drenagem predial</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente a DRENAGEM PREDIAL
                  </div>
                  <div class="details-station">
                    <h4>01 - BOCAL CALHA </h4>
                    <h4>02 - PASSANTES DE LAJE </h4>
                    <h4>03 - TUBOS E CONEXÕES </h4>
                    <h4>04 - FIXAÇÕES </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">11</div>
              </div>
              <div class="ag-timeline-card_meta-box">
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 11</div>
                  <div class="ag-timeline-card_subtitle">Sistema hidráulico <br>
                    Infraestrutura de abastecimento de água</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente a INFRAESTRUTURA DE ABASTECIMENTO DE
                    ÁGUA
                  </div>
                  <div class="details-station">
                    <h4>01 - MACROMEDIDOR </h4>
                    <h4>02 - CASTELO METÁLICO / CASTELO CONCRETO </h4>
                    <h4>03 - BOMBAS - CASA DE BOMBAS </h4>
                    <h4>04 - QUADRO DE COMANDO </h4>
                    <h4>05 - TUBOS E CONEXÕES </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">12</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 12</div>
                  <div class="ag-timeline-card_subtitle">Sistema hidráulico <br>
                    Abastecimento de água predial</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente a INFRAESTRUTURA DE GÁS
                  </div>
                  <div class="details-station">
                    <h4>01 - MICROMEDIDOR</h4>
                    <h4>02 - HIDRÔMETRO </h4>
                    <h4>03 - TUBOS E CONEXÕES</h4>
                    <h4>04 - PEX / CHASSI / CARENAGENS / COIFAS </h4>
                    <h4>05 - ENGATE FLEXÍVEL </h4>
                    <h4>06 - METATIS </h4>
                    <h4>07 - LOUÇAS </h4>
                    <h4>08 - MÃO FRANCESA </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">13</div>
              </div>
              <div class="ag-timeline-card_meta-box">
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 13</div>
                  <div class="ag-timeline-card_subtitle">Sistema de gás <br>
                    Infraestrutura de gás</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente a INFRAESTRUTURA DE GÁS
                  </div>
                  <div class="details-station">
                    <h4>01 - REGULADOR DE PRIMEIRO ESTÁGIO </h4>
                    <h4>02 - TUBOS E CONEXÕES MULTICAMADAS </h4>
                    <h4>03 - REGULADOR DE SEGUNDO ESTÉGIO </h4>
                    <h4>04 - TUBOS E CONEXÕES PARA GN </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>


          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">14</div>
              </div>
              <div class="ag-timeline-card_meta-box">
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 14</div>
                  <div class="ag-timeline-card_subtitle">Sistema de gás <br>
                    Gás predial</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente ao GÁS PREDIAL
                  </div>
                  <div class="details-station">
                    <h4>01 - FIXAÇÕES PARA SISTEMAS DE GÁS MULTICAMADAS</h4>
                    <h4>02 - TUBOS E CONEXÕES MULTICAMADAS </h4>
                    <h4>03 - VÁLVULAS E PLUGS </h4>
                    <h4>04 - PLACAS E IDENTIFICAÇÕES </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">15</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 15</div>
                  <div class="ag-timeline-card_subtitle">Sistema de ar condicionado <br>
                    Ar condicionado predial</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente ao AR CONDICIONADO PREDIAL
                  </div>
                  <div class="details-station">
                    <h4>01 - FIXAÇÕES PARA SISTEMAS DE AR CONDICINADO</h4>
                    <h4>02 - TUBOS E CONEXÕES MULTICAMADAS PARA AR CONDICIONADO</h4>
                    <h4>03 - PROTEÇÕES E ENVELOPAMENTO DA CAMARA FRIGORIGINA </h4>
                    <h4>04 - KIT AR CONDICIONADO + SERVIÇO DE INSTALAÇÃO </h4>
                    <h4>05 - DRENO AR CONDICIONADO</h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">16</div>
              </div>
              <div class="ag-timeline-card_meta-box">
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 16</div>
                  <div class="ag-timeline-card_subtitle">Sistema de combate a incêndio <br>
                    Infraestrutura do sistema de combate a incêndio</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente a INFRAESTRUTURA DO SISTEMA DE
                    COMBATE
                    A
                    INCÊNDIO
                  </div>
                  <div class="details-station">
                    <h4>01 - QUADRO DE COMANDO </h4>
                    <h4>02 - BOMBAS - CASA DE BOMBAS </h4>
                    <h4>03 - TUBOS E CONEXÕES PVC </h4>
                    <h4>04 - TUBOS GALVANIZADOS </h4>
                    <h4>05 - CONEXÕES GALVANIZADAS </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">17</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 17</div>
                  <div class="ag-timeline-card_subtitle">Sistema de combate a incêndio <br>
                    Sistema de combate a incêndio predial</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente ao SISTEMA DE COMBATE A INCÊNDIO
                    PREDIAL
                  </div>
                  <div class="details-station">
                    <h4>01 - TUBOS GALVANIZADOS </h4>
                    <h4>02 - CONEXÕES GALVANIZADAS </h4>
                    <h4>03 - CAIXA DE HIDRÂNTE</h4>
                    <h4>04 - MANGUEIRAS / CHAVE STORZ / AGULHETA / VÁLVULAS </h4>
                    <h4>05 - PLACAS DE SCI </h4>
                    <h4>06 - LUMINÁRIAS DE EMERGÊNCIA </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">18</div>
              </div>
              <div class="ag-timeline-card_meta-box">
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 18</div>
                  <div class="ag-timeline-card_subtitle">Sistema fotovoltáico <br>
                    Sistema fotovoltáico</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente ao SISTEMA FOTOVOLTÁICO
                  </div>
                  <div class="details-station">
                    <h4>01 - PLACAS FOTOVOLTÁICOS </h4>
                    <h4>02 - INVERSOR DE FREQUÊNCIA</h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">19</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 19</div>
                  <div class="ag-timeline-card_subtitle">Sistema de elétro mobilidade <br>
                    Sistema de carregadores para carro elétrico</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente ao SISTEMA DE ELÉTRO MOBILIDADE
                  </div>
                  <div class="details-station">
                    <h4>01 - CARREGADORES PARA CARROS ELÉTRICOS</h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">20</div>
              </div>
              <div class="ag-timeline-card_meta-box">
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">STATION 20</div>
                  <div class="ag-timeline-card_subtitle">Sistema de exaustão <br>
                    Sistema de exaustão</div>
                  <div class="ag-timeline-card_desc">
                    Nesta estação você negociará todos os materiais referente ao SISTEMA DE EXAUSTÃO
                  </div>
                  <div class="details-station">
                    <h4>01 - PRESSURIZAÇÃO DE ESCADAS </h4>
                    <h4>02 - VENTO KIT </h4>
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
