<!-- header -->
<section class="section-header-gestao-obras">
</section>

<section class="section-gestao-obras">
  <div class="titulo-gestao-obras">A MELHOR ESCOLHA</div>

  <div class="row-gestao-obras">
    <div class="column-gestao-obras-img">
      <img src="/assets/hgigestaoobras/new-project.webp" alt="Designed by Freepik">
    </div>
  </div>

  <div class="row-gestao-obras">
    <div class="column-gestao-obras">
      <div>
        <p>Elaboração dos orçamentos das obras seguindo os projetos, documentos e demais intormações enviadas pela contratante
        </p>
        <ul>
          <li>A base de preços será considerada seguindo referências de mercado da cidade orçada, fornecida pela contratada</li>
          <li>Alguns itens do orçamento (com menor relevância) sairão orçados em verba, como por exemplo, custos de legalização, conservação de canteiro de obra e outras menos relevantes</li>
          <li>O orçamento seguirá a base de composições, EAP e codificação dos insontos PeS, ao dito ser de insumo codificado dos listagens técnicas em um momento posterior, avaliando uma nova proposta para tal escopo</li>
          <li>Itens específicos (terraplenagem, ETE, Elevador e outros materiais e serviços específicos), não previamente negociados, serão automaticamente estimados conforme referências de mercado e projeto</li>
          <li>Todo o escopo de instalações será orçado no menor nível possível, de acordo com a profundidade e nível de detalhe dos projetos</li>
          <li>A contratante e dend cus dominar a i de orgamento e planejamento, desde que avaliado previamente</li>
        </ul>
      </div>
    </div>

    <div class="column-gestao-obras">
      <div>
        <p>Elaboração do planejamento de obra, considerando as informações repassadas pelo cliente</p>
        <ul>
          <li>Macro fluxo (sequência básica de atividades) seguirá o padrão do contratado, a não ser que a contratante forneça o seu modelo previamente</li>
          <li>takt time dos pacotes de atividades seguirá com referências de produtividade de mercado, a não ser que a contratante forneça tais informações no início da elaboração do planejamento</li>
          <li>EAP de planejamento será a mesma da EAP orçamentária</li>
          <li>prazo final (limite), pode ser fornecido pelo contratante, de forma a direcionar o takt time e dimensionamento das equipes para cumprimento dos ciclos</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row-gestao-obras-escopo">
    <div class="column-gestao-obras-escopo">
      <img src="/assets/hgigestaoobras/analysis.webp" alt="">
    </div>
    <div class="column-gestao-obras-escopo">
      <div>
        <ol>
          <li>Fechamento mensal de custos</li>
          <li>Fechamento mensal de custos (Orçado x Realizado) por agrupador de custo (EAP / Atividade / agrupador de controle)</li>
          <li>Análise dos principais desvios</li>
          <li>Reunião de acompanhamento / repasse com o líder de obra</li>
          <li>Apoio na criação de plano de ação para reversão dos estouros</li>
          <li>Consolidação dos resultados e criação da projeção de custos (Orçamento de tendência)</li>
          <li>Aeplanelamento mensald eprodução</li>
          <li>Análise dos desvios da evolução do mês</li>
          <li>Apris entag magso dora estado aresão de unamento</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<section>
  <app-footer></app-footer>
</section>
